.SelectBtn {
    border-left-color: rgb(2, 0, 0);
    border-right-color: rgb(2, 0, 0);
    border-top-color: rgb(2, 0, 0);
    border-bottom-color: rgb(2, 0, 0);
    background-color: rgb(218, 216, 216);
    color: rgb(18, 16, 16);
    flex-basis: 25px;
    min-width: 100px;
    -unity-font-style: bold;
}

.SelectBtn:hover {
    scale: 1.05 1.05;
    background-color: rgb(132, 122, 122);
}
